@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Bold.eot");
  src: url("../fonts/Roboto/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype"), url("../fonts/Roboto/Roboto-Bold.svg#Roboto-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Regular.eot");
  src: url("../fonts/Roboto/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype"), url("../fonts/Roboto/Roboto-Regular.svg#Roboto-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Medium.eot");
  src: url("../fonts/Roboto/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto/Roboto-Medium.ttf") format("truetype"), url("../fonts/Roboto/Roboto-Medium.svg#Roboto-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
header .favorite {
  display: none;
  cursor: pointer;
}
@media screen and (max-width: 1090px) {
  header .favorite {
    display: flex;
    gap: 10px;
  }
}

.main {
  width: 67%;
  height: 100vh;
  overflow: auto;
  padding: 40px 140px;
}
@media screen and (max-width: 1090px) {
  .main {
    width: 100%;
    padding: 40px;
  }
}
.main ::-webkit-scrollbar {
  height: 10px;
}
.main header {
  margin-bottom: 78px;
}
@media screen and (max-width: 1090px) {
  .main header {
    display: flex;
    justify-content: space-between;
  }
}
.main header .favorite {
  align-items: center;
}
.main h1 {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
}
.main .jokes-generator {
  margin-bottom: 40px;
}
.main .jokes-generator .greetings {
  margin-bottom: 43px;
}
.main .jokes-generator .greetings .upper {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}
.main .jokes-generator .greetings .lower {
  font-size: 24px;
  line-height: 44px;
}
.main .jokes-generator .jokes-options .option {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.main .jokes-generator .jokes-options .option input {
  width: 20px;
  height: 20px;
  accent-color: #333333;
  margin-right: 15px;
}
.main .jokes-generator .jokes-options .option label {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
}
.main .jokes-generator .jokes-options .categories-container {
  display: none;
  gap: 10px;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  overflow: auto;
  padding-bottom: 10px;
  margin: 10px 0 20px;
}
.main .jokes-generator .jokes-options .categories-container .category {
  cursor: pointer;
  color: #ABABAB;
  border: 2px solid #F8F8F8;
  border-radius: 6px;
  padding: 6px 15px;
}
.main .jokes-generator .jokes-options .categories-container .category.selected {
  color: #333333;
  background-color: #F8F8F8;
}
.main .jokes-generator .jokes-options #search_text {
  display: none;
  width: 100%;
  height: 42px;
  font-size: 16px;
  line-height: 22px;
  border: 2px solid #333333;
  border-radius: 10px;
  padding: 10px 0 10px 15px;
  margin: 10px 0;
}
.main .jokes-generator .get-joke-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  background: linear-gradient(90.55deg, #8EA7FF 0%, #7291FF 100%);
  border-radius: 10px;
  cursor: pointer;
  padding: 10px 40px;
  margin-top: 10px;
}
.main .jokes-container .joke-item {
  background-color: #F8F8F8;
  border-radius: 20px;
  padding: 40px;
  padding-left: 100px;
}
.main .jokes-container .joke-item img.favorite {
  right: 40px;
}
.main .jokes-container .joke-item .joke-text {
  font-size: 18px;
  line-height: 26px;
}

.blur {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0.5;
}

section.favorite {
  width: 33%;
  height: 100vh;
  background-color: #F8F8F8;
  overflow: auto;
  padding: 40px;
}
@media screen and (max-width: 1090px) {
  section.favorite {
    display: none;
  }
}
section.favorite header h2 {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: #ABABAB;
  margin-bottom: 20px;
}
@media screen and (max-width: 1090px) {
  section.favorite header h2.desktop {
    display: none;
  }
}
section.favorite header .favorite {
  justify-content: end;
}
section.favorite .jokes-container .joke-item {
  background-color: #FFFFFF;
  border-radius: 10px;
  padding: 20px;
  padding-left: 80px;
}
section.favorite .jokes-container .joke-item img.favorite {
  right: 20px;
}
section.favorite .jokes-container .joke-item .joke-text {
  font-size: 14px;
  line-height: 20px;
}

section.show-tablet {
  display: block;
  width: 57%;
  background-color: #FFFFFF;
  position: absolute;
  top: 0;
  right: 0;
}

section.show-mobile {
  display: block;
  width: 100%;
  background-color: #FFFFFF;
}

.joke-item {
  position: relative;
  margin-bottom: 20px;
}
.joke-item img.favorite {
  position: absolute;
  cursor: pointer;
}
@media screen and (max-width: 1090px) {
  .joke-item img.favorite {
    top: 25px;
  }
}
.joke-item .joke-text {
  font-weight: 400;
}
.joke-item .joke {
  position: relative;
  margin: 10px 0 23px;
}
.joke-item .joke img.message {
  position: absolute;
  left: -60px;
  border-radius: 100%;
}
.joke-item .joke .id {
  color: #ABABAB;
  margin-bottom: 5px;
}
.joke-item .joke .id img {
  margin-left: 5px;
}
.joke-item .joke-info {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 655px) {
  .joke-item .joke-info {
    flex-direction: column;
    gap: 10px;
  }
}
.joke-item .joke-info .update-info {
  color: #ABABAB;
}
.joke-item .joke-info .category {
  width: fit-content;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #FFFFFF;
  border-radius: 6px;
  padding: 6px 20px;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #FFFFFF;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ABABAB;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #333333;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", serif;
  font-weight: 500;
  font-size: 10px;
  line-height: 14px;
  color: #333333;
  display: flex;
}

button {
  border: none;
}

a {
  color: #8EA7FF;
}

/*# sourceMappingURL=style.css.map */
