@use '../utilities/colors';
@use '../fonts';

.joke-item {
    position: relative;
    margin-bottom: 20px;

    img.favorite {
        position: absolute;
        cursor: pointer;
    }

    .joke-text {
      font-weight: 400;
  }

    .joke {
        position: relative;
        margin: 10px 0 23px;

        img.message {
            position: absolute;
            left: -60px;
            border-radius: 100%;
        }

        .id {
            color: colors.$secondary-text;

            margin-bottom: 5px;

            img {
                margin-left: 5px;
            }
        }
    }

    .joke-info {
        display: flex;
        justify-content: space-between;

        .update-info {
            color: colors.$secondary-text;
        }

        .category {
            letter-spacing: 2px;
            text-transform: uppercase;

            background-color: colors.$main-bg;
            border-radius: 6px;

            padding: 6px 20px;
        }
    }
}